<h1>Best movies ever</h1>
<h2>Browse our selection</h2>


<% @movies[0..10].each do |movie| %>
  <div class="card-movie">
    <div class="movie-picture">
      <%= image_tag movie.image,
      src: 'Image Not Found',
      onerror: 'this.error=null;this.src="https://picsum.photos/200/300"',
      alt: movie.title %>
    </div>

    <div class="movie-infos">
      <h2><%= movie.title %></h2>
      <h3><%= movie.year %></h3>
      <% movie.actors.each do |actor| %>
        <span><%= actor %>, </span>
      <% end %>
      <% movie.genre.each do |gen| %>
        <div class="btn">
          <%= gen %>
        </div>
      <% end %>
    </div>

    <div class="movie-actions" >
      <div class="rating">
        <%= movie.rating %>
        <%= image_tag 'star.png', class: "star-icon" %>
      </div>
      <div class="delete-box">
        <%= link_to image_tag("delete.png", class: "delete-icon"), movie_path(movie), method: :delete, remote: true %>
      </div>
    </div>
  </div>

<% end %>
