<h1>Best movies ever</h1>
<h2>Browse our selection</h2>


<% @movies[0..10].each do |movie| %>

<div class="card-movie">

    <div class="movie-picture">
      <%= image_tag movie.image,
      src: 'Image Not Found',
      onerror: 'this.error=null;this.src="https://picsum.photos/200/300"',
      alt: movie.title %>
    </div>

  <div class="movie-infos">
    <h2><%= movie.title %></h2>
    <h3><%= movie.year %></h3>
    <% movie.actors.each do |actor| %>
      <span><%= actor %>, </span>
    <% end %>
    <% movie.genre.each do |gen| %>
      <div class="btn">
        <%= gen %>
      </div>
    <% end %>

  </div>

  <div>
    <%= movie.rating %>
  </div>
</div>

<% end %>

<%#
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div> %>
